table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color:white
}
img {
    max-width: 100%;
    height: auto;
}

.center{
    margin: auto;
}

p{
    text-align: center;
    font-size: 90px;
}

